<div class="side_links">

  <% if session[:user_id] %>
    <p class="user_name">Logged in | 
    <%= link_to 'Log Out', logout_path %>
    <br>
    <%= link_to 'New Post', new_post_path %></p>
    <%= link_to 'Private Posts', "#" %>
  <% end -%>
  <br>
  <% if @current_public_post %>
    <%= link_to "Latest_post", post_path(@current_public_post) %></br>
  <% end %>
</div>

<h3>Categories  
<span>
<% if logged_in? %>
  <%= link_to ">> New category", new_category_path, :class => "small" %>
<% end -%>
</span>
</h3>
<hr>
<% @categories.each do |c| %>
  <div class="category">
    <h5>
      <span class="fa-stack fa">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-<%= c.fonticon %> fa-stack-1x fa-inverse"></i>
      </span>
        <span class="catName"><%= c.name %></span>
        <span class="badge">
          <%= c.posts.count %>
        </span>
    </h5>
    <% c.posts.each do |category_post| %>
      <ul>
        <li><%= link_to category_post.title, post_path(category_post) %></li>  
      </ul>
    <% end -%>
  </div>
<% end -%>